/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

html {
  font-family: "Bree Serif";
}

#testoAlternato {
  border: 3px solid rgb(117, 117, 117);
  width: 70%;
  margin: 2em 2em;
  padding: 1.5em 1em;
  color: rgb(71, 71, 71);
  font-size: 1.2em;
}

.parole i {
  color: #37afb8;
  position: absolute;
  margin-left: 0.17em;
  opacity: 0;
}

@keyframes translate {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  30% {
    transform: translateY(0px);
    opacity: 1;
  }
  60% {
    transform: translateY(0px);
    opacity: 1;
  }

  100% {
    transform: translateY(120%);
    opacity: 0;
  }
}

i:nth-child(1) {
  animation: translate 6s linear 0s 1;
}

i:nth-child(2) {
  animation: translate 6s linear 8s 1;
}

i:nth-child(3) {
  animation: translate 6s linear 16s infinite;
}
