html {
  font-family: "Indie Flower";
}

body {
  background: rgb(161, 163, 163);
}

section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  vertical-align: baseline;
  align-items: center;
}

.postit {
  box-shadow: 5px 5px 7px 5px rgba(0, 0, 0, 0.32);
  width: 250px;
  height: 160px;
  margin: 1.5em 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s linear 0s;
}

.postit h1 {
  font-size: 2.5em;
  font-weight: 600;
  margin-bottom: 0.2em;
}

.postit p {
  font-size: 1.5em;
  font-weight: 400;
}

@keyframes incolla {
  0% {
    scale: 4;
  }
  100% {
    sclale: 1;
  }
}

#viola {
  background-color: #957dad;
  transform: rotate(-34deg);
  animation: incolla 1s linear;
}

#verde {
  background-color: #9edba2;
  transform: rotate(19deg);
  animation: incolla 1s linear;
}

#giallo {
  background-color: #f9e394;
  transform: rotate(31deg);
  animation: incolla 1s linear;
}

#viola:hover,
#verde:hover,
#giallo:hover {
  transform: rotate(0deg) scale(1.2);
  z-index: 4;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.73);
}

@media screen and (min-width: 1200px) {
  html {
    height: 100vh;
  }

  body {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .postit {
    margin: 4em 2em;
    width: 250px;
    height: 180px;
  }
}
